/* Custom nav */
nav {
    background: transparent;
}

/* Video */
.video-container {
    position: relative;
    top: 0;
    width: 100%;
    height: 100vh;
    background: black;
    overflow: hidden;
}

.video-container video {
    position: fixed;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    min-width: 100%;
    min-height: 100%;
    transition: 0.5s;
}

/* Scroll indicator */
.scroll-indicator {
    position: absolute;
    bottom: 2em;
    left: 50%;
    transform: translateX(-50%);
}

.indicator-arrow {
    opacity: 0.4;
    animation: blink 3.5s infinite alternate;
}

.indicator-arrow:nth-child(2) {
    animation-delay: 0.5s;
}

@keyframes blink {
    0% {
        opacity: 0.4;
    }
    75% {
        opacity: 0.4;
    }
    100%{
        opacity: 1;
    }
}

/* Info section */
#history-section {
    height: 100vh;
    position: absolute;
    top: 10%;
    left: 0;
    display: grid;
    grid-template-columns: repeat(2, min(40%, 740px));
    justify-content: space-evenly;
    gap: 2em;
    padding: 3em 2em;
    scroll-snap-type: y mandatory;
    scroll-padding-top: 0.5em;
    overflow-y: auto;
    scroll-behavior: smooth;
}

#history-section .card {
    background-color: #121212ae;
    box-shadow: 1px 4px 8px 0px #61616153;
    opacity: 0;
    transform: translate(-10%, 10%);
    animation: 1s cardAppear forwards;
    transition: 0.5s;
    scroll-snap-align: start;
    scroll-snap-stop: always;
}

#history-section::-webkit-scrollbar {
    display: none;
}

#history-section img {
    width: 100%;
}

#history-section .container {
    padding: 0.5em 1.5em;
    color: rgb(238, 238, 238);
}

#history-section ul {
    padding-left: 1.5em;
}

@keyframes cardAppear {
    to {
        opacity: 1;
        transform: translate(0, 0);
    }
}

.card:nth-child(1) {
    animation-delay: 0.2s !important;
}

.card:nth-child(2) {
    animation-delay: 0.4s !important;
}

.card:nth-child(3) {
    animation-delay: 0.6s !important; 
}

.card:nth-child(4) {
    animation-delay: 0.8s !important;
}

/* Responsiveness */
@media screen and (max-width: 700px) {
    #history-section {
        grid-template-columns: 70%;
        scroll-padding-top: 0em;
    }
}

@media screen and (max-width: 400px) {
    #history-section {
        grid-template-columns: 90%;
    }
}